
.icon-plus-squared-alt:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mobile-1:before { content: '\e803'; } /* '' */
.icon-folder-open:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-chat:before { content: '\e806'; } /* '' */
.icon-cog-alt:before { content: '\e807'; } /* '' */
.icon-users-1:before { content: '\e808'; } /* '' */
.icon-tablet:before { content: '\e809'; } /* '' */
.icon-basket:before { content: '\e80a'; } /* '' */
.icon-spinner:before { content: '\e80b'; } /* '' */
.icon-chat-1:before { content: '\e80c'; } /* '' */
.icon-cog-alt-1:before { content: '\e80d'; } /* '' */
.icon-users-2:before { content: '\e80e'; } /* '' */
.icon-tablet-1:before { content: '\e80f'; } /* '' */
.icon-basket-1:before { content: '\e810'; } /* '' */
.icon-spinner-1:before { content: '\e811'; } /* '' */
.icon-keyboard:before { content: '\e812'; } /* '' */
.icon-trash:before { content: '\e813'; } /* '' */
.icon-key-inv:before { content: '\e814'; } /* '' */
.icon-android:before { content: '\e815'; } /* '' */
.icon-keyboard-1:before { content: '\e816'; } /* '' */
.icon-trash-1:before { content: '\e817'; } /* '' */
.icon-key-inv-1:before { content: '\e818'; } /* '' */
.icon-android-1:before { content: '\e819'; } /* '' */
.icon-mobile-2:before { content: '\e81a'; } /* '' */
.icon-mail-1:before { content: '\e81b'; } /* '' */
.icon-mobile-3:before { content: '\e81c'; } /* '' */
.icon-folder-open-1:before { content: '\e81d'; } /* '' */
.icon-home-1:before { content: '\e81e'; } /* '' */
.icon-cancel:before { content: '\e81f'; } /* '' */
